body
{
    background-color: powderblue;
}

.m{
    background-color: lightseagreen;
}
h1{
    background-color: black;
    color: white;
}
#n{
    border-radius: 360px;
    height: 300px;
    width: 300px;
    box-shadow: 3px 3px 3px red;
}

.ran
{
    border: 2px solid black;
    text-align: center;
    background-color: rgb(221, 171, 78);
    border-radius: 25px;
}
img
{
    height: 400px;
    width: 400px;
    border-radius: 25px;
    border: 5px solid green;
}
    

h3
{
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    background-color: wheat;
    color:crimson;
    text-align: center;
}

.paracss
{
    color:red;
    text-align: justify;
    font-family: cursive;
    font-size: 18px;
}

.profile
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#german
{
    border: 2px solid yellow; 
}

.Pic{
    width: 360px;
    height: 360px;
    border-radius: 360px;
    border: 5px solid red;
}
#tarak{
    text-align: center;
    border: 2px solid red;
    background-color:chartreuse;
}
